{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<!--
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
-->
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Posts by Author
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/author/ilham" target="_blank">
	Ilham Fathy Saputra
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/author/nabilla" target="_blank">
	Nabilla Rahmani Zhafira
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/author/pusaka" target="_blank">
	Pusaka Kaleb Setyabudi
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/author/rakina" target="_blank">
	Rakina Zata Amni
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/author/rio" target="_blank">
	Rio Mulia
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Others
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/project-tools" target="_blank">
	Tools + Other Used Things
  </a>
</li>
